PORT=The number of the port our server is runing on
MONGODB_URI=The full mongodbe atlas url with password in it
MONGODB_PASSWORD=The user mongodb password
JWT_SECRET= This will halp us to form a wonderfull token for each clint that has been register to our system